@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(131, 165, 246);
}

h1 {
    font-size: 5rem;
    color: White;
}

.accueil {
    background-color: chartreuse;
}

.connexion {
    background-color: chocolate;
}

.pas{
    background-color: brown;
}

a{
    text-decoration: none;
}

footer {
    background-color: chocolate;
}